body,
html {
    width: 100%;
    height: 100%;
}

div#content {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}


/* -- SEARCH BAR -- */

#cari {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    padding: 8px 10px 8px 20px;
    background: #fff;
    box-shadow: 1px 1px 1px #888888;
    font-size: 10pt;
    border-radius: 0 0 5px 0;
}

#cari a img {
    height: 30px;
    width: 30px;
    margin-right: 15px;
}


input.cari {
    display: inline;
    height: 30px;
    width: 220px;
    padding: 3px 2px 3px 10px;
}


/* -- DASHBOARDS BUTTON -- */

.dropdown {
    position: absolute;
    top: 5px;
    right: 10px;
    display: inline-block;
}

.dropbtn {
    background-color: #fff;
    color: #333;
    border: none;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 99;
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888;
    transition: .2s all;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    overflow: hidden;
    transition: .2s all;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 1px #888;
    z-index: 1;
    border-radius: 5px 0 5px 5px;
}

.dropdown-content a {
    width: 100%;
    color: #333;
    padding: 12px 16px;
    font-size: 10pt;
    text-decoration: none;
    display: inline-block;
    transition: .2s ease;
    white-space: nowrap;
}

.dropdown-content img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #3B8686;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown:hover .dropbtn {
    color: #3B8686;
    border-radius: 5px 5px 0 0;
}


/* -- PREV/NEXT BUTTON -- */

.prevnext {
    position: absolute;
    top: 50px;
    left: 0px;
    display: inline-block;
}

.prev, .next {
    width: 148px;
    padding: 7px 10px;
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 1px #888;
    transition: .3s ease;
    font-size: 10pt;
    color: #535353;
}

.prev {
}

.prev:hover, .next:hover {
    background-color: #16a085;
    color: #fff;
}

.prev:active, .next:active {
    background-color: #2c3e50;
    color: #fff;
    transition: 0s;
}


/* -- SHOW/HIDE SIDEBAR BUTTON -- */

.showhideside {
    position: absolute;
    top: 85px;
    left: 0px;
    display: inline-block;
}

.shide {
    width: 300px;
    padding: 2px 10px;
    background-color: #3B8686;
    border: none;
    box-shadow: 1px 1px 1px #888;
    transition: .3s ease;
    font-size: 8pt;
    color: #fff;
}

.shide:active {
    background-color: #2c3e50;
    color: #fff;
    transition: 0s;
}

/* -- SIDEBAR -- */

.sidebar {
    position: absolute;
    display: inline-block;
    top: 105px;
    width: 300px;
    background: #fff;
    box-shadow: 1px 1px 1px #888888;
}

.sidebar>a {
    text-decoration: none;
}

.side {
    width: 300px;
    background-color: #ffffff;
    color: #535353;
    border: none;
    position: relative;
    z-index: 10;
    left: 0px;
    transition: .3s ease;
    padding: 10px 20px;
    border-bottom: solid 1px #cccccc;
    display: table;
}

.side:hover {
    background-color: #3B8686;
    color: #ffffff;
}

.side:active {
    background-color: #2c3e50;
    transition: 0s;
    color: #fff;
}

.icon {
    width: 10%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.icon i {
    font-size: 12pt;
}

.desc {
    width: 90%;
    padding-left: 10px;
    display: table-cell;
}

.desc h4 {
    font-size: 10pt;
}


/* -- SHOW/HIDE STATISTIC BUTTON -- */

.showhidestat {
    position: absolute;
    top: 2px;
    left: 305px;
    display: inline-block;
}

.statsb {
    width: 100px;
    padding: 2px 10px;
    background-color: #3B8686;
    border: none;
    box-shadow: 1px 1px 1px #888;
    transition: .3s ease;
    font-size: 8pt;
    color: #fff;
}

.statsb:active {
    background-color: #2c3e50;
    color: #fff;
    transition: 0s;
}


/* -- STATISTIC -- */

.statistic {
    position: absolute;
    left: 305px;
    top: 22px;
    display: inline-block;
    box-shadow: 1px 1px 1px #888;
}


/* -- LEGEND -- */

.legend {
    position: fixed;
    top: 60px;
    right: 10px;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #888;
}

input {
    display: none;
}

label {
    font-size: 10pt;
    font-weight: 100;
}

label div {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #16a085;
    text-align: center;
    line-height: 15px;
    margin-right: 6px;
    border-radius: 3px;
    cursor: pointer;
}

label i {
    font-size: 10px;
    opacity: 0;
    color: #fff;
}

label img {
    width: 20px;
    margin-right: 2px;
}

label:hover div {
    background: #dfeeeb;
    cursor: pointer;
}

input:checked+label i {
    opacity: 1;
}

input:checked+label div {
    background: #16a085;
    border: 1px solid #16a085;
}


